<br>
<h1 align="center">Edit Video</h1>
<div id="wrapper">
    <div class="fields">
      <label>Title:</label><input type="text" name="title" value=" {{video.title}}"> 
    </div>
    <div class="fields">
        <label>Running Time:</label><input type="text" name="runtime" value="{{video.runtime}}"> 
      </div>
    <div class="fields">
      <label>Genre:</label><input type="text" name="genre" value="{{video.genre}}">

    </div>
    <div class="fields">
        <label>Rating:</label><input type="text" name="rating" value="{{video.rating}}">

      </div>
    <div class="fields">
        <label>Director:</label><input type="text" name="director" value="{{video.director}}"> 
      </div>
      <div class="fields">
          <label>Status:</label><input type="text" name="status" value="{{video.status}}">
              
        </div>
  <div class="fields">
      
 
      <button id="updatebutton">Update</button>
      <button id="deletebutton">Delete</button>
  </div>
  </div>


