<br>
<h1 align="center">Add New Video</h1>
<div id="wrapper">
    <div class="fields">
      <label>Title:</label><input type="text" name="title" value=" "> 
    </div>
    <div class="fields">
        <label>Running Time:</label><input type="text" name="runtime" value=""> 
      </div>
    <div class="fields">
      <label>Genre:</label><input type="text" name="genre" value="">

    </div>
    <div class="fields">
        <label>Rating:</label><input type="text" name="rating" value="">

      </div>
    <div class="fields">
        <label>Director:</label><input type="text" name="director" value=""> 
      </div>
      <div class="fields">
          <label>Status:</label><input type="text" name="status" value="">
              
        </div>
  <div class="fields">
      
 
      <button id="addbutton"><a routerLink="/videocenter" routerLinkActive="active">Add</a></button>
     
  </div>
  </div>



